<div class="card mb-4">
    <div class="card-header progress-bar progress-bar-striped progress-bar-animated">
        <span  style="text-align: left;"><i class="fas fa-lightbulb" style="display: inline-block"></i>  Bolt Configuration Notices</span>
    </div>
    <div class="card-body">

        {% for result in results %}
            <p>{{ result.notice|raw }}</p>
            <small>{{ result.info|raw }}</small>
        {% endfor %}

    </div>
</div>